<div class="mn-main">
<div class="navbar navbar-inverse navbar-fixed-top mn-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span>Brand</span></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-left navbar-nav">
        <li class="active">
          <a href="#">Search your Movie</a>
        </li>
        <li class="">
          <a href="#">Want a Movie?</a>
        </li>
        <li>
          <a href="#">Compare Movies</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a href="#">Login</a>
        </li>
        <li>
          <a href="#">Language</a>
        </li>
        <li>
          <a href="#">Welcome - Jerry</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="section">
  <div class="container mn-search-box">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Search Your Movie</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <form role="form">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter the Movie Title">
              <span class="input-group-btn">
                <a class="btn btn-danger" type="submit"><i class="fa fa-fw fa-search"></i>Search</a>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section mn-info">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTQ0NDg3MjU2OV5BMl5BanBnXkFtZTYwODgyMDg5._V1_SX300.jpg" class="img-responsive">
              </div>
              <div class="col-md-6">
                <h1>Treasure Planet</h1>
                <h3>Rating</h3>
                <p>Género: Animation, Adventure, Family
                  <br>Año: 2002
                  <br>Lanzada: 27 Nov 2002
                  <br>Duración: 95 min
                  <br>Actores:&nbsp;Roscoe Lee Browne, Corey Burton, Dane A. Davis, Joseph Gordon-Levitt
                  <br>Nominaciones:&nbsp;Nominated for 1 Oscar. Another 1 win &amp; 13 nominations.
                  <br>Historia:&nbsp;A Disney animated version of "Treasure Island". The only
                  difference is that the film is set in outer space with alien worlds and
                  other galactic wonders.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section mn-trailer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron mn-trailer">
          <h1>Trailer</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/i__1Z5a9Sak" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
